# Build output
bin/
obj/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Legacy source-control bindings
*.scc
*.vssscc
*.vspscc

# NuGet
packages/


# Secrets / credentials (never upload)
*.pfx
*.p12
*.pem
*.key
.env
**/appsettings.*.local.json
# Logs and temp
*.log
*.tmp
*.bak

# Redacted originals (see *.example files)
FleetManager/Login.vb
FleetManager/Client.vb
FleetManager/Trunk.vb
FleetManager/Route.vb
FleetManager/FMDatabase.vb
FleetManager/FMConnection.vb
FleetManager/ServiceCharge.vb
FleetManager/Asset.vb
FleetManager/Account.vb
FleetManager/Bill.vb
FleetManager/OrganisationalUnit.vb
FleetManager/Pabx.vb
FleetManager/Calls.vb
FleetManager/Person.vb
FleetManager/Phone.vb
FleetManager/Provider.vb
Test/Form1.vb
FileTransfer/FTP.vb
1.1/FleetManager/Login.vb
1.1/FleetManager/Client.vb
1.1/FleetManager/FMDatabase.vb
1.1/FleetManager/FMConnection.vb
1.1/FleetManager/ServiceCharge.vb
1.1/FleetManager/Account.vb
1.1/FleetManager/Bill.vb
1.1/FleetManager/OrganisationalUnit.vb
1.1/FleetManager/FleetManager.vbproj
1.1/FleetManager/Calls.vb
1.1/FleetManager/Person.vb
1.1/FleetManager/Phone.vb
1.1/FleetManager/Provider.vb
1.1/Test/Form1.vb
1.1/Test/Test.vbproj
1.1/StatusEmail/Message.vb
1.1/StatusEmail/StatusEmail.vbproj
1.1/Common/Common.vbproj
1.1/Common/Functions.vb
1.1/FMWeb/LoginDTO.vb
1.1/FMWeb/Functions.vb
1.1/FMWeb/FMWeb.vbproj
1.1/My/My.vbproj
1.1/SQL/SQL.vbproj
1.1/SQL/Functions.vb
1.1/Logging/Logging.vbproj
1.1/Email/Email.vbproj
Scheduling/Schedule.vb
StatusEmail/Message.vb
Directory/User.vb
TaskScheduler/ScheduledTasks.vb
Common/Functions.vb
3.5/FleetManager/Login.vb
3.5/FleetManager/Client.vb
3.5/FleetManager/Trunk.vb
3.5/FleetManager/Route.vb
3.5/FleetManager/FMDatabase.vb
3.5/FleetManager/FMConnection.vb
3.5/FleetManager/ServiceCharge.vb
3.5/FleetManager/Asset.vb
3.5/FleetManager/Account.vb
3.5/FleetManager/Bill.vb
3.5/FleetManager/OrganisationalUnit.vb
3.5/FleetManager/Pabx.vb
3.5/FleetManager/Calls.vb
3.5/FleetManager/Person.vb
3.5/FleetManager/Phone.vb
3.5/FleetManager/Provider.vb
3.5/Test/Form1.vb
3.5/FileTransfer/FTP.vb
3.5/Scheduling/Schedule.vb
3.5/StatusEmail/Message.vb
3.5/Directory/User.vb
3.5/TaskScheduler/ScheduledTasks.vb
3.5/Common/Functions.vb
3.5/ResetPassword/ResetPassword.vbproj
3.5/ResetPassword/Form1.Designer.vb
3.5/ResetPassword/Form1.vb
3.5/ResetPassword/ResetPassword.vbproj.user
3.5/ResetPassword/ResetPassword.vbproj.vs10x
3.5/Security/Functions.vb
3.5/Security/frmLogon.vb
3.5/Security/frmLogon.designer.vb
3.5/SQL/Functions.vb
ResetPassword/ResetPassword.vbproj
ResetPassword/Form1.Designer.vb
ResetPassword/Form1.vb
ResetPassword/ResetPassword.vbproj.user
ResetPassword/ResetPassword.vbproj.vs10x
Security/Functions.vb
Security/frmLogon.vb
Security/frmLogon.designer.vb
Core/Test/Test.vbproj
Core/Common/Common.vbproj
Core/Common/Functions.vb
Core/My/My.vbproj
Core/Logging/Logging.vbproj
SQL/Functions.vb
