Public Class Client

#Region " Private variables "

    Private _AccountCode As String = ""
    Private _BillingContact As String = ""
    Private _ChangeID As Int32 = -1
    Private _ClientAdministratorID As Int32 = -1
    Private _ClientManager As String = ""
    Private _Comments As String = ""
    Private _CostCentre As String = ""
    Private _Custom1 As String = ""
    Private _Custom2 As String = ""
    Private _Custom3 As String = ""
    Private _Custom4 As String = ""
    Private _EmailAddress As String = ""
    'Private _EndDate As Date = Date.MinValue
    Private _Fax As String = ""
    Private _ID As Int32 = -1
    Private _Name As String = ""
    Private _Phone As String = ""
    Private _StartDate As Date = Date.MinValue
    Private _UID As Int32 = -1

#End Region

#Region " Properties "

    Public Property Name() As String
        Get
            Return _Name
        End Get
        Set(ByVal value As String)
            _Name = value
        End Set
    End Property

    Public Property StartDate() As Date
        Get
            Return _StartDate
        End Get
        Set(ByVal value As Date)
            _StartDate = value
        End Set
    End Property

    'Public Property EndDate() As Date
    '    Get
    '        Return _EndDate
    '    End Get
    '    Set(ByVal value As Date)
    '        _EndDate = value
    '    End Set
    'End Property

    Public Property ChangeID() As Int32
        Get
            Return _ChangeID
        End Get
        Set(ByVal value As Int32)
            _ChangeID = value
        End Set
    End Property

    Public Property AccountCode() As String
        Get
            Return _AccountCode
        End Get
        Set(ByVal value As String)
            _AccountCode = value
        End Set
    End Property

    Public Property CostCentre() As String
        Get
            Return _CostCentre
        End Get
        Set(ByVal value As String)
            _CostCentre = value
        End Set
    End Property

    Public Property BillingContact() As String
        Get
            Return _BillingContact
        End Get
        Set(ByVal value As String)
            _BillingContact = value
        End Set
    End Property

    Public Property Phone() As String
        Get
            Return _Phone
        End Get
        Set(ByVal value As String)
            _Phone = value
        End Set
    End Property

    Public Property Fax() As String
        Get
            Return _Fax
        End Get
        Set(ByVal value As String)
            _Fax = value
        End Set
    End Property

    Public Property EmailAddress() As String
        Get
            Return _EmailAddress
        End Get
        Set(ByVal value As String)
            _EmailAddress = value
        End Set
    End Property

    Public Property ClientAdministratorID() As Int32
        Get
            Return _ClientAdministratorID
        End Get
        Set(ByVal value As Int32)
            _ClientAdministratorID = value
        End Set
    End Property

    Public Property ClientManager() As String
        Get
            Return _ClientManager
        End Get
        Set(ByVal value As String)
            _ClientManager = value
        End Set
    End Property

    Public Property Comments() As String
        Get
            Return _Comments
        End Get
        Set(ByVal value As String)
            _Comments = value
        End Set
    End Property

    Public Property Custom1() As String
        Get
            Return _Custom1
        End Get
        Set(ByVal value As String)
            _Custom1 = value
        End Set
    End Property

    Public Property Custom2() As String
        Get
            Return _Custom2
        End Get
        Set(ByVal value As String)
            _Custom2 = value
        End Set
    End Property

    Public Property Custom3() As String
        Get
            Return _Custom3
        End Get
        Set(ByVal value As String)
            _Custom3 = value
        End Set
    End Property

    Public Property Custom4() As String
        Get
            Return _Custom4
        End Get
        Set(ByVal value As String)
            _Custom4 = value
        End Set
    End Property

    Public Property UID() As Int32
        Get
            Return _UID
        End Get
        Set(ByVal value As Int32)
            _UID =REDACTED
        End Set
    End Property

    Public Property ID() As Int32
        Get
            Return _ID
        End Get
        Set(ByVal value As Int32)
            _ID = value
        End Set
    End Property

#End Region

End Class
