#Region " History "

' Please choose from the following Entry types:
' Bugfix
' Enhancement
' Change

' ----------------------------------------------------------------------------------------------------------------------------------------
' Version    Date         Initials    Type          Description
' ----------------------------------------------------------------------------------------------------------------------------------------
' 1.1.0.1    07 Jun 11    DR          Enhancement   Based on .NET 3.5 version 1.0.15.25
'
#End Region

Public Class Account

#Region " Private Variables "

    Private _ClientID As Int32 = 0
    Private _AccountNumber As String = ""
    Private _BillType As Int32 = 0
    Private _ProviderID As Int32 = 0
    Private _UserID As Int32 = 0
    Private _OrgUnitID As Int32 = 0
    Private _IsDirty As Boolean = False
    Private _HasLoaded As Boolean = False

#End Region

#Region " Properties "

    Public Property ClientID() As Int32
        Get
            Return _ClientID
        End Get
        Set(ByVal value As Int32)
            _ClientID = value
        End Set
    End Property

    Public Property AccountNumber() As String
        Get
            Return _AccountNumber
        End Get
        Set(ByVal value As String)
            _AccountNumber = value
        End Set
    End Property

    Public Property BillType() As Int32
        Get
            Return _BillType
        End Get
        Set(ByVal value As Int32)
            _BillType = value
        End Set
    End Property

    Public Property ProviderID() As Int32
        Get
            Return _ProviderID
        End Get
        Set(ByVal value As Int32)
            _ProviderID = value
        End Set
    End Property

    Public Property OrgUnitID() As Int32
        Get
            Return _OrgUnitID
        End Get
        Set(ByVal value As Int32)
            _OrgUnitID = value
        End Set
    End Property

    Public Property UserID() As Int32
        Get
            Return _UserID
        End Get
        Set(ByVal value As Int32)
            _UserID =REDACTED
        End Set
    End Property

    Public Property IsDirty() As Boolean
        Get
            Return _IsDirty
        End Get
        Set(ByVal value As Boolean)
            If _IsDirty = False Then _IsDirty = value
            If _IsDirty Then
                'Dim Trace As New StackTrace : trace.writeline("IsDirty Property is now True. " & Me.GetType.Name & "." & System.Reflection.MethodBase.GetCurrentMethod.Name & "." & vbTab & " Calling method: " & Trace.GetFrame(1).GetMethod().Name)
            End If
        End Set
    End Property

    Public ReadOnly Property HasLoaded() As Boolean
        Get
            Return _HasLoaded
        End Get
    End Property

#End Region

End Class
